## Add configuratin options


## Where to import the reference genome from
#import_ref_dir: "/path to Prokka output to import/"
import_ref_dir: "/export/dahlefs/work/Marie/sequences_novogen/X204SC23041757-Z01-F001/15.PROKKA_METAGENOME"
# import_ref_dir: "/export/dahlefs/work/Hakon/RASTOOLS/RNA_2024/14.MAG_ANNOTATION"

## skip the following directories:
import_ref_exclude:
  - d_1_7
  # - other samples/directories
reference_fasta: "input/reference/reference.fasta"
reference_gff: "input/reference/reference.gff"

## select a prefix for files to import
reference_file_prefix: "PROKKA"

### Define reference sequences for metaQUAST
#Nitrospira closest relative: GCA_021604365.1
#Nitrosomonas closest relative: GCA_021774265.1
#Nitrosomonas (less complete) closest relative: GCA_022842015.1


metaquast_refs:  
 - GCA_021604365.1
 - GCA_021774265.1
 - GCA_022842015.1

## A sample sheet with annotation for all the smaples to be used
sample_sheet: "config/sample_sheet.tsv"

## The filename suffix for fastq files: fastq, fq, fastq.gz, or fq.gz
fastq_file_suffix: ".fq.gz"